h1{
    border-top: dotted ;
    border-bottom: dotted;
    border-left: double;
    border-left-width:10px ;
    border-left-color: brown;
}
p{
    border-style: outset;
    border-width: 5px;
    border-color: gold;
    border-radius: 5px;
    padding: 5px;

}